* {
    margin: 0;
    padding: 0;
}

.book-card {
    border: 2px solid red;
}

.card-container {
    width: 1000px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}
